header{
	height: 100px;
	width: 800px;
	margin: 0 auto 0 auto;
}

header h1{
	font-size: 40px;
	text-align: center;
}

header p{
    text-align: center;
}

#explaination{
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 800px;
}

#explaination p{
    float: left;
    margin: 0 35px 0 0;
    width: 355px;
}

#holder{
    height: 600px;
    margin: 35px auto 0 auto;
    width: 1300px;
}

#mainSVG{
    display: block;
    float: left;
    height: 400px;
}

#sideBar{
    float: left;
    margin-left: 10px;
    width: 370px;
}


.background{
    fill: #FFF;
}

#states path, #state-centroids circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

#svgSideBar rect {
    stroke: white;
    fill: cornflowerblue;
}

#tweetContainer {
    display: block;
    float: left;
    margin-left: 10px;
    width: 300px;
}

graphSVG {
    font-size: 12;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
