header{
	height: 100px;
	width: 800px;
	margin: 0 auto 0 auto;
}

header h1{
	font-size: 40px;
	text-align: center;
}

nav{
	height: 80px;
	list-style: none;
	margin: 5px 0 10px 0;
	width: 100%;
}

nav ul{
	list-style: none;
	margin: 0 auto 0 auto;
}

nav li{
	display: inline;
	font-size: 24px;
	padding : 10px 20px 10px 15px;
}

nav li:hover{
	border-bottom: 4px solid #252525; 
}

#viz{
    height: 600px;
    margin: 35px auto 0 auto;
    width: 1250px;
}

#mainSVG{
    display: block;
    float: left;
    height: 500px;
    margin-top: 50px;
    width: 900px;
}

#tweetSearches{
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    width: 250px;
}


.background{
    fill: #FFF;
}

#states path, #state-centroids circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

.twitTopics{
	-moz-column-count: 2;
    -moz-column-gap: px;
    -webkit-column-count: 2;
    -webkit-column-gap: px;
    column-count: 2;
	column-gap: px;
}


