#holder{
    display:block;
    font: 14px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.4;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 800px;
}

.example{
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 800px;
}

.code{
    background: #F8F8F8;
    border: 1px solid #CCC;
    display: block;
    float: left;
    padding: 3px;
    width: 420px;
}

.code p{
    display:block;
    margin-left: 10px;
}

svg{
    display: block;
    float: left;
}


.var{
    color: red;
}

.string{
    color: blue;
}

.number{
    color: green;
}

.grouping{
    display: block;
    margin-left: 25px;
}

.indent1{
    margin-left: 20px;
}

.indent2{
    margin-left: 40px;
}

ul{
    margin-left: 0;
}

li a{
    margin-left: 0;
    text-decoration: none;
}
