body{
	background-color: #FFF;
}

#holder{
    display: block;
    height: 750px;
    margin-bottom: 20px;
}

header{
	height: 86px;
	width: 800px;
	margin: 10px auto;
}

header h1{
	font-size: 40px;
	height: 20px; 
    text-align: center;
}

header p{
    padding: 10px 0;
    text-align: center;
}

#about{
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 800px;
}

#about p{
    float: left;
    margin: 0 35px 0 0;
    width: 355px;
}

#viz{
    display: inline;
    height: 600px;
    margin: 35px auto 0 auto;
    width: 1050px;
}

#mainSVG{
    background-color: #FFF;
    float: left;
    margin-top: 50px;
    height: 500px;
    padding: 0 0 20px 0px;
    width: 950px;
}

#states path{
    fill: #ccc;
    stroke: #dbdece;
    stroke-width: 1.5px;
}

#tooltip{
    background-color: #fff;
    opacity:0.8;
    height: 50px;
    width: 110px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color:#000;
    border-style: solid;
    border-width:2px;
}

#tooltip p{
    margin: 5px 0 2px 4px;
}

#sideBar{
    display: block;
    float: left;
    width: 400px;
}

#bills ul{
    display: block;
    list-style-type:none;
    margin:0;
    padding:0;
}

#bills li{
    display: block;
    height: 50px;
    margin: 5px 0px;
    padding; 5px 0;
    width: 380px; 
}

#bills li p:hover{
    margin-bottom: 10px;
}

#bills li a{
    float: left;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#bills li p{
    float: left;
    margin: 0 0 0 3px;
    padding: 0px;
    width: 300px;
}
