body{
	background-color: #F2F6E2;
	font-family: "museo-slab-1","museo-slab-2", Georgia, "Times New Roman", Times, serif
}

header{
	height: 100px;
	width: 800px;
	margin: 0 auto 0 auto;
}

header h1{
	font-size: 40px;
	text-align: cneter;
}


#viz{
    display: inline;
    margin: 35px auto 0 auto;
    width: 1050px;
}

#mainSVG{
    float: left;
    margin-top: 50px;
    width: 900px;
    min-height: 800px;
    background-color: #F2F6E2;
}

#states path{
    fill: #ccc;
    stroke: #F2F6E2;
    stroke-width: 1.5px;
}



